@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
    background-image: url(../img/blue-apron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

#aboutMain {
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 24px;
}