@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

#indexMain {
  background-image: url(img/brandonDevilsRiver.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
}

li {
  list-style: none;
}

a {
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: lightgrey;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 40px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

header {
  display: flex;
}

nav {
  margin: auto 0 auto auto;
}

#indexIntro {
  width: 275px;
  margin: 100px 100px auto auto;
  font-family: "Architects Daughter", cursive;
  font-size: 24px;
  text-align: center;
  color: white;
}

article {
  margin: 0 20px;
}

h1 {
  font-family: "Rajdhani", sans-serif;
  margin: auto;
}

footer {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  color: white;
  text-align: right;
  padding-right: 20px;
}


#aboutMain {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Architects Daughter", cursive;
  background-color: white;
  font-size: 24px;
}

section.aboutSection {
  display: flex;
  width: 400px;
  height: 450px;
  margin: auto;
  text-align: center;
}

p {
  margin: auto;
}

.aboutImages {
  width: 100%;
  margin: 50px;
  border-radius: 5px;
}